

/*!
 * VIEW CSS
 */

/* .screen-size {
 	width: 880px;
 	height: 601px;
 	background-color: blue;
 }*/


.memorable-screensize {
	height:500px;
	width:700px;
}

 .spacing {
 	width: 300px;
 }

.page-title {
 	font-size:30px;
 	margin-top: -15px;
 }

 .memorable-title {
	padding-top:50px;
	padding-bottom:70px;
	font-family:"geneva";
 	font-size:70px;
 }

 .search-bar {
 	display: block;
 	margin:auto;
 	padding-top:20px;
 	padding-bottom:15px;
 }

 .home-button {
 	position: absolute;
 	top: 30px;
 	right: 30px;
 	width:55px;
 	height:55px;
 }

 .back-button {
 	position: absolute;
 	top: 20px;
 	left: 20px;
 	width:40px;
 	height:40px;
 }




/*!
 * HOME CSS
 */
.resident-row {
	margin:20px;
}

.resident-name {
	margin-top:10px;
}

.resident-pic {
	display: block;
 	margin:auto;
	width:130px;
	height:130px;
}



/*!
 * PROFILE CSS
 */

 .add-resident-button {
 	position: absolute;
 	top: 20px;
 	left: 20px;
 	width:35px;
 	height:35px;
 }

.profile-users {
	display: block;
 	margin:auto;
	width:200px;
}

 .profile-name {
 	font-size: 30px;
 	margin-top:-10px;
 	padding-bottom:16px;
 }

 .profile-puzzle-diff {
 	font-size: 17px;
 	padding-bottom:3px;
 }

 .profile-image {
 	display: block;
 	width:130px;
 	margin-left: 150px;
 	padding-bottom:30px;
 }

.edit-button {
	display:block;
	margin:auto;
	background-color:#B689BC;
	width: 300px;
	height:100px;
}

.edit-photos {
	margin:auto;
	margin-left:50px;
	width:70%;
}

.edit-music {
	margin:auto;
	margin-right:50px;
	width:70%;
}

.edit-row {
	padding-top:15px;
	padding-bottom:10px;
	display:inline-block;
}

.favs-row {
	padding-top:10px;
	padding-bottom:10px;
	height:215px;
}

.fav-title {
	display:inline-block;
}

.favorite-pics {
	/*width: 100px;*/
}

.fav-pics {
	width:180px;
}

.music {
	width: 500px;
	height:300px;
	background-color:#4ACAA8;
	display: block;
	margin: auto;
}




/*!
 * PUZZLES CSS
 */
 .user-icon {
 	position: absolute;
 	top: 30px;
 	right: 30px;
 	width:75px;
 	height:75px;
    border: 1px solid #000000;
 }

 .user-name {
 	position: absolute;
 	font-size:22px;
 	top: 37px;
 	right: 120px;
 }

.user-edit {
	position: absolute;
	font-size:15px;
	top: 55px;
 	right: 112px;
 	width:80px;
	height:40px;
	padding-top:20px;
	padding-bottom:20px;
}

.slideshow-button {
	display:block;
	margin:auto;
	padding-top:20px;
	padding-bottom:10px;
	width:250px;
}

.slideshow-button-row {
	width:300px;
	margin:auto;
}

.slideshow-click {
	display:block;
	margin:auto;
	width:300px;
	height:50px;
}

.seperate-puzzles {
	height:20px;
}

.puzzle-image {
	display: block;
 	margin:auto;
 	width:130px;
 	height:130px;
}

.puzzles-row {
	margin:10px;
}


/*!
 * EDIT PICS CSS
 */
.edit-title-row {
	padding-top:10px;
	height:130px;
	padding-bottom:10px;
}

.edit-user-pic {
	padding-left:0px;
	padding-right:0px;
	width:100px;
	height:100px;
}

.edit-user-title {
	font-size:35px;
	margin-top:25px;
	margin-left:-20px;
}

.interests-row {
	height: 190px;
}

.interests{
	display:block;
	margin:auto;
}

.interest{
	width:200px;
}

.upload-button {
	margin-bottom:10px;
	margin-left:20px;
}

 .fake-back-button-int {
 	position:absolute;
 	top:290px;
 	left:30px;
 	width:30px;
 	height:30px;
 }

.fake-next-button-int {
 	position:absolute;
 	top:290px;
 	right:30px;
 	width:30px;
 	height:30px;
}



/*!
 * MUSIC CSS
 */

.genres {
	display:block;
	margin:auto;
}

.genre{
	width:200px;
}

.fake-back-button-gen {
 	position:absolute;
 	top:335px;
 	left:30px;
 	width:30px;
 	height:30px;
 }

.fake-next-button-gen {
 	position:absolute;
 	top:335px;
 	right:30px;
 	width:30px;
 	height:30px;
}

.search-bar-music {
	padding-top:30px;
	padding-bottom:30px;
	display:block;
	margin:auto;
	/*width:500px;*/
}

.search-results-title {
	display:block;
	margin:auto;
	padding:10px;
}

.search-music-table {
	display:block;
	height:200px;
	/*width:800px;*/
	margin:auto;
}

.add-song-button {
	height:20px;
}

.playlist-table {
	display:block;
	margin:auto;
	padding-top:30px;
}

/*!
 * NEW PROFILE CSS
 */
.upload-profpic {
	display:block;
	margin:auto;
	padding-top:100px;
	width:200px;
}

.form-row {
	padding-top:40px;
}

.make-profile {
	padding-top:30px;
	height:100px;
}
