

/*!
 * VIEW CSS
 */

/* .screen-size {
 	width: 880px;
 	height: 601px;
 	background-color: blue;
 }*/

 .spacing {
 	width: 300px;
 }

.page-title {
 	font-size:45px;
 	margin:0px;

 }

 .memorable-title {
	padding-top:50px;
	padding-bottom:70px;
	font-family:"geneva";
 	font-size:70px;
 }

 .search-bar {
 	display: block;
 	margin:auto;
 	padding-top:40px;
 	padding-bottom:15px;
 }

 .home-button {
 	position: absolute;
 	top: 30px;
 	right: 30px;
 	width:55px;
 	height:55px;
 }

 .back-button {
 	position: absolute;
 	top: 30px;
 	left: 30px;
 	width:55px;
 	height:55px;
 }




/*!
 * HOME CSS
 */
.resident-row {
	margin:20px;
}

.resident-name {
	margin-top:10px;
}

.resident-pic {
	display: block;
 	margin:auto;
	width:170px;
	height:170px;
}



/*!
 * PROFILE CSS
 */

 .add-resident-button {
 	position: absolute;
 	top: 30px;
 	left: 30px;
 	width:45px;
 	height:45px;
 }

.profile-users {
	display: block;
 	margin:auto;
	width:200px;
}

 .profile-name {
 	padding:20px;
 	font-size:50px;
 }

 .profile-image {
 	display: block;
 	width:250px;
 	margin-left: 250px;
 	padding-bottom:30px;
 }

.edit-button {
	display:block;
	margin:auto;
	background-color:#B689BC;
	width: 300px;
	height:100px;
}

.edit-photos {
	margin:auto;
	margin-left:130px;
	width:50%;
}

.edit-music {
	margin:auto;
	margin-right:130px;
	width:50%;
}

.edit-row {
	padding-top:20px;
	padding-bottom:10px;
	display:inline-block;
}

.favs-row {
	padding-top:10px;
	padding-bottom:10px;
	height:250px;
}

.fav-title {
	display:inline-block;
}

.music {
	width: 500px;
	height:300px;
	background-color:#4ACAA8;
	display: block;
	margin: auto;
}




/*!
 * PUZZLES CSS
 */
 .user-icon {
 	position: absolute;
 	top: 30px;
 	right: 30px;
 	width:75px;
 	height:75px;
    border: 1px solid #000000;
 }

 .user-name {
 	position: absolute;
 	font-size:30px;
 	top: 30px;
 	right: 130px;
 }

.user-edit {
	position: absolute;
	font-size:15px;
	top: 60px;
 	right: 125px;
 	width:80px;
	height:40px;
	padding-top:20px;
	padding-bottom:20px;
}

.slideshow-button {
	display:block;
	margin:auto;
	padding-top:20px;
	padding-bottom:10px;
	width:300px;
}

.slideshow-button-row {
	width:300px;
	margin:auto;
}

.slideshow-click {
	display:block;
	margin:auto;
	width:300px;
	height:50px;
	
}

.seperate-puzzles {
	height:50px;
}

.puzzle-image {
	display: block;
 	margin:auto;
 	width:200px;
 	height:200px;
}


/*!
 * EDIT PICS CSS
 */
.edit-titlerow {
	padding-top:10px;
	height:150px;
	padding-bottom:10px;
}

.edit-user-pic {
	padding-left:0px;
	padding-right:0px;
	width:100px;
	height:100px;
}

.edit-user-title {
	font-size:45px;
	margin-top:25px;
}

.interests-row {
	height: 300px;
}

.interests{
	width:200px;
}

.upload-button {
	margin-bottom:10px;
	margin-left:20px;
}



