

/*!
 * VIEW CSS
 */

/* .screen-size {
 	width: 880px;
 	height: 601px;
 	background-color: blue;
 }*/


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 20%;
    float: left;
    margin:auto;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h1, h2, h3, h4, h5, h6, p {
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	/*font-weight: lighter;*/
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}


.family-screensize {
	width:900px;
}

.memorable-header {
	top:0px;
	left:0px;
	height:90px;
	background-color:#4ACAA8;
}

.header-logo {
	display: block;
	height:90px;
	margin:auto;
}

.memorable-screensize {
	/*height:500px;*/
	/*width:700px;*/
}

.restrict-screensize {
	width:850px;
}

 .spacing {
 	width: 300px;
 }

.page-title {
 	font-size:30px;
 	margin-top:30px;
 }

 .memorable-title {
	padding-top:50px;
	padding-bottom:70px;
	font-family:"geneva";
 	font-size:70px;
 }

 .search-bar {
 	display: block;
 	margin:auto;
 	padding-top:35px;
 	padding-bottom:5px;
 }

 .home-button {
 	position: absolute;
 	top: 30px;
 	right: 30px;
 	width:55px;
 	height:55px;
 }

 .back-button {
 	position: absolute;
 	top: 20px;
 	left: 20px;
 	width:40px;
 	height:40px;
 }




/*!
 * HOME CSS
 */
.resident-row {
	margin-top:30px;
}

.resident-name {
	margin-top:10px;
}

.resident-pic {
	display: block;
 	margin:auto;
	width:140px;
	height:140px;
}



/*!
 * PROFILE CSS
 */

 .add-resident-button {
 	position: absolute;
 	top: 20px;
 	right: 20px;
 	width:35px;
 	height:35px;
 }

.profile-users {
	display: block;
 	margin:auto;
	width:200px;
}

.profile-name {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
 	font-size: 30px;
 	margin-top:-10px;
 	padding-bottom:16px;
 	padding-left:15px;
 }

 .profile-puzzle-diff {
 	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
 	font-size: 17px;
 	padding-bottom:3px;
 	padding-left:15px;
 }

 .profile-image {
 	display: block;
 	width:130px;
 	float: right;
 	border-radius: 20px;
 }

.edit-button {
	display:block;
	margin:auto;
	background-color:#B689BC;
	width: 300px;
	height:100px;
}

.edit-photos {
	margin:auto;
	margin-left:95px;
	width:65%;
	border-radius:10px;
}

.edit-music {
	margin:auto;
	margin-right:95px;
	width:65%;
	border-radius:10px;
}

.edit-row {
	padding-top:15px;
	padding-bottom:10px;
	display:inline-block;
}

.favs-row {
	padding-top:10px;
	padding-bottom:10px;
	height:250px;
}

.favorite-pics {
	padding-top:5px;
}

.fav-title {
	display:inline-block;
	margin-top:30px;
	margin-bottom:20px;
	font-size:25px;
}


.fav-pics {
	width:180px;
}


.music {
	width: 500px;
	height:300px;
	background-color:#4ACAA8;
	display: block;
	margin: auto;
}

.music-table {
	margin-top:-5px;
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.info-row {
	padding-top:30px;
	height:190px;
}

.radio-color {
	background-color: #8AD2BF;
	color:#FFFFFF;
}




/*!
 * PUZZLES CSS
 */
 .user-icon {
 	position: absolute;
 	top: 8px;
 	right: 30px;
 	width:65px;
 	height:65px;
    border: 1px solid #FFFFFF;
    border-radius:50%;
 }

 .user-name {
 	position: absolute;
 	font-size:20px;
 	top: 12px;
 	right: 110px;
 	color:#FFFFFF;
 	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
 }

.user-edit {
	position: absolute;
	font-size:14px;
	top: 27px;
 	right: 104px;
 	width:80px;
	height:27px;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:4px;
	background-color:#FFFFFF;
	color:#4ACAA8;
	border-radius:10px;
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;

}

.slideshow-button {
	width:200px;
	height:50px;
	background-color:#B689BC;
	color:#FFFFFF;
	display:block;
	margin:auto;
	margin-top:5px;
	padding-top:13px;
	border-radius:10px;
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.slideshow-button-row {
	width:300px;
	margin:auto;
}

.slideshow-click {
	display:block;
	margin:auto;
	width:300px;
	height:50px;
}

.seperate-puzzles {
	height:20px;
}

.puzzle-image {
	margin-left:-10px;
 	width:195px;
 	height:195px;
 	margin-top:20px;
 	margin-bottom:20px;
}

.puzzles-table {
	display:block;
	margin:auto;
	margin-top:25px;
	margin-bottom:25px;
	width:800px;
}

.fake-back-button-puzz {
 	position:absolute;
 	top:390px;
 	left:45px;
 	width:55px;
 	height:55px;
}

.fake-next-button-puzz {
	position:absolute;
 	top:390px;
 	right:45px;
 	width:55px;
 	height:55px;
}



/*!
 * EDIT PICS CSS
 */
.edit-title-row {
	padding-top:30px;
	height:130px;
	padding-bottom:10px;
}

.edit-user-pic {
	padding-left:0px;
	padding-right:0px;
	width:100px;
	height:100px;
	border-radius:10px;
}

.edit-user-title {
	font-size:35px;
	margin-top:25px;
	margin-left:-20px;
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.interests-row {
	height: 220px;
	margin-bottom:20px;
}

.interests{
	display:block;
	margin:auto;
}

.interest{
	width:200px;
}

.upload-button {
	margin-bottom:10px;
	margin-left:20px;
}

.personal-photos-row {
	height:630px;
}

.personal-table {
	margin-top:20px;
}

.personal-row {
	margin-top:10px;
	margin-bottom:10px;
}

.fake-back-button-int {
 	position:absolute;
 	top:350px;
 	left:40px;
 	width:30px;
 	height:30px;
 }

.fake-next-button-int {
 	position:absolute;
 	top:350px;
 	right:40px;
 	width:30px;
 	height:30px;
}

.choose-pic {
	
}

.save-pic {

}


/*!
 * MUSIC CSS
 */

.genres {
	display:block;
	margin:auto;
}

.genre{
	width:200px;
}

.fake-back-button-gen {
 	position:absolute;
 	top:415px;
 	left:30px;
 	width:30px;
 	height:30px;
 }

.fake-next-button-gen {
 	position:absolute;
 	top:415px;
 	right:30px;
 	width:30px;
 	height:30px;
}

.search-bar-music {
	padding-top:15px;
	padding-bottom:30px;
	display:block;
	margin:auto;
	/*width:500px;*/
}

.music-tabs {
	margin-top:30px;
}

.search-results-title {
	display:block;
	margin:auto;
	padding:10px;
}

.search-music-table {
	display:block;
	height:200px;
	/*width:800px;*/
	margin:auto;
}

.add-song-button {
	height:20px;
}

.playlist-table {
	display:block;
	margin:auto;
	padding-top:30px;
}

/*!
 * NEW PROFILE CSS
 */
.upload-profpic {
	display:block;
	margin:auto;
	padding-top:100px;
	width:200px;
}

.form-row {
	padding-top:40px;
}

.make-profile {
	padding-top:30px;
	height:100px;
}


/*!
 * PUZZLE CSS
 */
.puzzle-title {
	font-size: 25px;
	margin-bottom:0px;
}
